* {
    background-color: rgb(66, 66, 155);
    box-sizing: border-box;
}

#main-header {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(158, 158, 196);
    box-shadow: 0 0 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-row {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.reset-button {
    background-color: rgb(158, 158, 196);
    border: 2px solid white;
    border-radius: 10px;

}
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(marbles-ga659ffd6c_1280.jpg) no-repeat 
    center center/ cover;
}

.container {
    box-shadow: 0 0 10px;
    display: grid;
    border: 2px solid white;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
}